.pos-relative {
  position: relative;
}

.control-options {
  box-shadow: 0px 2px 10px 2px lightgrey;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

.control-options span {
  background-color: white;
  cursor: pointer;
  display: block;
  padding: 10px;
}

.control-options span:hover {
  background-color: lightgray;
}